@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
.social-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    background: #003399;
    color: white !important;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.3s;
}
.social-btn:hover { background: #27ae60; transform: translateY(-3px); }
.active-nav-link { background: #003399 !important; color: white !important; }
